@model WebApplication4.ViewModels.LoginViewModel

<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div style="background-color:rgb(255,216,216);border-radius:5px;margin-top:20px;">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="UserName"></label><br />
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
        <a asp-action="ForgotPassword">Забыли пароль?</a>
    </div>

</form>
<form method="post" asp-action="ExternalLogin" asp-route-retunUrl="@Model.ReturnUrl">
    @foreach(var provider in Model.ExternalLogins)
    {
    <button class="btn btn-primary" type="submit" name="provider"  value="@provider.Name">
        Войти с помощью аккаунта Google
    </button>
    }


</form>
      @*@using (Html.BeginForm("GoogleLogin", "Account" , FormMethod.Post, new { style="margin-top:12px" }))
      {
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <button class="btn btn-primary" type="submit">
            Войти с помощью аккаунта Google
        </button>
    }*@