@model IEnumerable<WebApplication4.Domain.Core.Profile>
@{
    ViewData["Title"] = "Страница Админимтратора";
}
<div class="container">
    <div class="row">
        <div class="col" style="margin-top: 50px;">
            <h4 class="text-center border rounded" style="background-color:white">Пользователи</h4>
        </div>
    </div>
</div>

<table style="min-height:100px;height:auto;background-color:rgb(255,216,216);width:100%">

    @foreach (var item in Model)
    {
        <tr>
            <form method="post" asp-controller="Home" asp-action="UserArticle">
                <input type="hidden" name="UserName" value="@item.UserName" />
                <td width="33%">
                    <p>@item.UserName</p>
                </td>
                <td width="33%">
                    <input type="submit" value="Подробнее" />
                </td>
            </form>
            <form method="post" asp-controller="Home" asp-action="UserBlocked">
                <input type="hidden" name="UserName" value="@item.UserName" />
                <td width="33%">
                    @if (item.isBlocked)
                    {
                        <input type="submit" value="Разблокировать" />
                    }
                    else
                    {
                    <input type="submit" value="Заблокировать" />
                    }
                </td>
            </form>
        </tr>

    }

</table>
